/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

#_form_64099B2DA3A3A_ input[type="text"], #_form_64099B2DA3A3A_ input[type="tel"], #_form_64099B2DA3A3A_ input[type="date"], #_form_64099B2DA3A3A_ textarea {
  color: white!important;
}
._form_9 input[type="text"], ._form_9 input[type="tel"], ._form_9 input[type="date"], ._form_9 textarea {
  color: white!important;
}
